<div class="navbar-fixed">
<nav>
<div class="nav-wrapper">
      <img style="margin-top:2vh;margin-left:1vh;height:30px;width:80px;" src="http://localhost:4200/zoho.png" class="brand-logo" alt="brand-logo">
  </div>
</nav>
</div>

{{yield}}
